body{
  background-color: rgb(43, 1, 25);
  font-family:'Courier New', Courier, monospace
}

header {
  background-color: rgb(68, 0, 40);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 24px;
}

a, header, footer{
  font-style: none;
  color: white;
}

.card-container {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #777676;
  border-radius: 10px;
  padding: 16px 32px;
  margin: 4px 2px;
  width: 220px;
  background-color: rgb(167, 167, 167);
  border: none;
  font-size: 16px;
}

.card:hover{
  background-color:rgb(218, 218, 218);
  transition: 0.3s;
}